body{
  background-color:#F3D4E2;
  }
h1{
  text-align: center;
  text-decoration: underline;
  font-weight:800;
  font-family:"Courier new"
}
strong {
  text-shadow:6px 4px 2px #FFFFFF;
  text-decoration:underline dotted ;
  text-transform: capitalize;
}
p{
  font-weight:500;
    font-size:23px;
  text-align: left;
  font-family: verdana;
  
}
a{
  color:black;
  active: purple; 
  hover: yellow;
  text-decoration: underlined;
  color: red
}
ul{
  list-style-type: circle;
  list-style-position: outside;
  
}
